@charset "UTF-8";

@font-face{
    font-family: 'hiroshio';
    src: url(fontes/Hiroshio.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'capture';
    src: url(fontes/Capture\ it.ttf) format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#F0EADD;
    --cor1:#58ADB2;
    --cor2:#104447;
    --cor3:#7B2514;
    --cor4:#362416;
    --cor5:black;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-titulo: 'hiroshio', 'cursive';
    --font-destaque:

}




*{
    margin: 0px;
    border: 0px;
    border-radius: 0px;
}

body{
    background-image: linear-gradient();
}
